body {
    font-family: Roboto, sans-serif;
    background-color: #CCC;
}

section {
    height: 70vh;
}

.navbar {
    background-color: #000;
}

.nav .nav-link.active{
    background-color: #fff;
    color: #000;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.font-text {
    font-family: Pacifico, sans-serif;
}

.navbar-toggler {
    background-color: #fff;
}

.font-text{
    border-bottom: 2px #000 solid;
} 

#sobre ul li{
    border-bottom: 20px;
}