body {
    font-family: "Lobster", sans-serif;
    background-image: url('img/steam-background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    padding-top: 70px;
}

.navbar {
    background-color: #000;
}

.nav .nav-link.active{
    background-color: #fff;
    color: #000;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.font-text {
    font-family: Pacifico, sans-serif;
}

.navbar-toggler {
    background-color: #fff;
}

.font-text{
    border-bottom: 2px #000 solid;
} 

#sobre ul li{
    border-bottom: 20px;
}

.card-game {
    transition: transform 0.3s ease;
    background-color: transparent;
    color: #fff;
    border: rgba(0, 0, 0, 0.1), solid 6px;
}

.card-game:hover {
    cursor: pointer;
    background-color: rgba(28, 51, 151, 0.1);
    transform: translateY(-10px);
}

.card-body img {
    height: 350px;
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
}
